<div id="tw-link-container">
    <div class="wrapper">
        <a href="{{ tw_link }}" target="_blank" title="{% trans %}Made with love by That's Why{% endtrans %}"><span>{% trans %}made by {% endtrans %}</span><img src="{{ svg_image }}" alt="{% trans %}That's Why logo{% endtrans %}"></a>
    </div>
</div>